<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <div class="dropdown">
                                <label href="#" class="form-group dropdown-toggle" data-toggle="dropdown">
                                    {{$parent.usuario}} {{$parent.apellido}} <i class="material-icons">person</i>
                                    <br>{{$parent.nombre_usuario}}
                                </label>
                                <ul class="dropdown-menu">
                                    <li ng-controller="appController"><a  href ng-click="logout();">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                         </ul>
                    </div>
                </div>
            </nav>