<nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <div class="dropdown">
                                <label href="#" class="form-group dropdown-toggle" data-toggle="dropdown">
                                    {{$parent.nombre_completo}} <i class="material-icons">person</i>
                                </label>
                                <ul class="dropdown-menu">
                                    <li><a>Cerrar Sesión</a></li>
                                </ul>
                            </div>
                         </ul>
                    </div>
                </div>
            </nav>