<div class="sidebar" data-color="purple">
    <div class="logoS">
        <img src="assets/img/ic2.png" alt="">
        
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav row">
            <li ng-repeat="opc in $parent.opciones" id="{{opc.label_id}}">
                <a href="{{opc.url}}">
                    <i class="material-icons">{{opc.icon}}</i>
                    <p>{{opc.nombre}}</p>
                </a>
            </li>
            
            <li ng-controller="appController" id="nav_logout" class="hidden-md hidden-lg hidden-xl">
                <a href ng-click="logout();">
                    <i class="material-icons">power_settings_new</i>
                    <p>Cerrar sesion</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>