<div sidebar></div>
<div class="main-panel">
	<div menu></div>
	<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Lista de Categoria</h4>
                        </div>
                            <div class="card-content table-responsive">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>ID</th>
                                        <th>nombre</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in datos">
                                            <td>{{item.id_categoria}}</td>
                                            <td>{{item.nombre}}</td>
                                            <td class="td-actions text-right">
                                                <div class="btn btn-primary btn-simple btn-xs" data-toggle="modal">
                                                    <i class="material-icons">edit</i>
                                                </div>
                                                <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div> 
                
            </div>
        </div>
    <div footer></div>

</div>
