<div sidebar></div>
<div class="main-panel">
	<div menu></div>
	<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Historial</h4>
                        </div>
                            <div class="card-content">
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <h4> <strong>Paciente:</strong>  Karen Alava</h4>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card">
                                        <div class="card-header" data-background-color="green">
                                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"
                      chart-series="series" chart-options="options"></canvas>
                                        </div>
                                        
                                        <h4 class="title">Carbohidratos</h4>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"
                      chart-series="series" chart-options="options"></canvas>
                                        </div>
                                        
                                        <h4 class="title">Carbohidratos</h4>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card">
                                        <div class="card-header" data-background-color="red">
                                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"
                      chart-series="series" chart-options="options"></canvas>
                                        </div>
                                        
                                        <h4 class="title">Carbohidratos</h4>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> 
                
            </div>
        </div>
    <div footer></div>

</div>
    
