<div sidebar></div>
<div class="main-panel">
	<div menu></div>
	<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Historial</h4>
                        </div>
                            <div class="card-content">
                                <div class="card-content">
                                    <div class="col-md-12">
                                        <h4> <strong>Paciente:</strong>{{$parent.paciente_nombre}}</h4>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card">
                                        <div class="card-header" data-background-color="green">
                                            <canvas id="chart_gluc" class="chart chart-line" chart-data="dGlucosa" chart-labels="labels"
                      chart-series="sGlucosa" chart-options="options"></canvas>
                                        </div>
                                        
                                        <h4 class="title">Glucosa Diaria</h4>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card">
                                        <div class="card-header" data-background-color="orange">
                                            <canvas id="chart_carb" class="chart chart-line" chart-data="dCarbohidratos" chart-labels="labels"
                      chart-series="sCarbohidratos" chart-options="options"></canvas>
                                        </div>
                                        
                                        <h4 class="title">Cantidad de Carbohidratos</h4>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 col-lg-4">
                                    <div class="card">
                                        <div class="card-header" data-background-color="red">
                                            <canvas id="chart_ins" class="chart chart-line" chart-data="dInsulina" chart-labels="labels"
                      chart-series="sInsulina" chart-options="options"></canvas>
                                        </div>
                                        
                                        <h4 class="title">Dosis Insulina</h4>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div> 
                
            </div>
        </div>
    <div footer></div>

</div>
    
