<div sidebar></div>
<div class="main-panel">
	<div menu></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Mapa de uso INSUCONTROL-APP</h4>
                        </div>
                        <div class="card-content">
                            <ng-map center="-2.13, -79.89" zoom="4">
    <marker ng-repeat="item in data" position="{{item.latitud}}, {{item.longitud}}"></marker>
  </ng-map>
                            </div>
                        </div>  
                    </div>
                </div>
             </div>
        </div>
    <div footer></div>
</div>
