<div sidebar></div>
<div class="main-panel">
	<div menu></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Página no encontrada</h4>
                            </div>
                            <div class="card-content">
                                <h1 class="">¡UPS! Error 404</h1>
                                <hr>
                                <h3>Lo sentimos pero esta página no esta disponible</h3>
                            </div>
                        
                        </div>  
                    </div>
                </div>
             </div>
        </div>
    <div footer></div>
</div>
