<div sidebar></div>
<div class="main-panel">
	<div menu></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Información</h4>
                            </div>
                            <div class="card-content">
                               
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Nombre</label>
                                                <input type="text" class="form-control" value="{{$parent.usuario}}" ng-model="usuario">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Apellido</label>
                                                <input type="text" class="form-control" value=" {{$parent.apellido}}" ng-model="apellido">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Cédula</label>
                                                <input type="text" class="form-control" value=" {{$parent.nic}}" ng-model="nic">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Fecha Nacimiento</label>   
                                                <form name="dateForm" novalidate 
                                                ng-model="fecha_nacimiento">
                                                    <input class="form-control" type="date" 
                                                        value=""
                                                        name="dateField"
                                                        ng-model="fecha_nacimiento"> 
                                                </form>
                                            </div>  
                                        </div>                                            
                                    </div> 
                                                                           
                                    <div class="row"> 
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Correo electrónico</label>
                                                <input type="email" class="form-control" 
                                                value=" {{$parent.correo}}" ng-model="correo">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Contraseña</label>
                                                <input type="password" class="form-control" value=" {{$parent.clave}}" ng-model="clave">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios"  ng-change="RadioChange('masculino')" ng-model="genero" value="masculino">Masculino
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" ng-change="RadioChange('femenino')" ng-model="genero" value="femenino">Femenino
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control" 
                                            ng-model="miProvincia" ng-change="obtenerCiudad()" ng-options="provincia as provincia.nombre for provincia in provincias track by provincia.id_provincia" 
                                            value="{{provincia.id_provincia}}">
                                                <option value="{{provincia.nombre}}"
                                                ng-model="id_provincia">--Provincias--</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6">
                                            <select class="form-control" 
                                            ng-model="miCiudad" ng-options="ciudad as ciudad.nombre_ciudad for ciudad in ciudades track by ciudad.id_ciudad" value="{{ciudad.id_ciudad}}">
                                                <option value="{{ciudad.id_ciudad}}" 
                                                ng-model="id_ciudad">--Ciudades--</option>
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <button type="button" class="btn btn-primary pull-right"
                                        ng-click="modificarUsuario()">Guardar</button>    
                                    </div>
                                    
                                    <div class="clearfix"></div>
                               
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    <div footer></div>
</div>
