<img src="assets/img/img3.png" alt="" class="bgim">
<div class="contentL">
  <div class="cardL">
    <h1 class="title logo"><img src="assets/img/logo.png" alt=""></h1>
    <form id="registro" ng-submit="guardarUsuario()">
      <div class="card-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Nombre</label>
              <input type="text" class="form-control" ng-model="nombre_user" 
                required="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Apellido</label>
              <input type="text" class="form-control" ng-model="apellido_usuario" required="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Cédula
              </label>
              <input type="text" class="form-control" ng-model="cedula" required="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Fecha Nacimiento</label>   
              <form name="dateForm" novalidate ng-model="nacimiento">
                <input class="form-control" type="date" value="dt" name="dateField"
                  ng-model="nacimiento"> 
              </form>
            </div>  
          </div>                                            
        </div>                      
        <div class="row"> 
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Correo electrónico</label>
              <input type="email" class="form-control" ng-model="email" required="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label">Contraseña</label>
              <input type="password" class="form-control" ng-model="clave" required="">
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios"  ng-change="GeneroChange('masculino')" ng-model="sexo" value="masculino">Masculino
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" ng-change="GeneroChange('femenino')" ng-model="sexo" value="femenino">Femenino
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <select class="form-control" ng-model="id_provincia" 
          ng-change="obtenerCiudad()">
            <option class="options" ng-repeat="item in provincias" 
              ng-model="item.nombre" value='{{item.id_provincia}}'> {{item.nombre}}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <select class="form-control" ng-model="id_ciudad">
            <option class="options" ng-repeat="item in ciudades" ng-model="item.nombre_ciudad" 
              value='{{item.id_ciudad}}'> {{item.nombre_ciudad}}
            </option>
          </select>
        </div>
      </div> 
      <div class="row">
        <div class="button-container">
        <a href="#!/login" class="primary">Volver</a>
        <input class="btn btn-primary" type="submit" href="#!/login" value="Registrarse"></input>
      </div>
      <div class="clearfix"></div>                               
    </div>
    </form>
  </div>
</div>



